input[type=button] {
    background-color: dodgerblue;
    color: white;
    padding: 26px 52px;
    text-decoration: none;
    margin: 20px 20px;
    width: 200px;
    height: 90px;
    cursor: pointer;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
}
